
body{ 
    background: linear-gradient(90deg, rgb(205, 204, 218) 0%, rgba(194,194,202,1) 10%, rgba(0,212,255,1) 100%);
    margin: 15px;
    font-size: 10px;
    @media screen and (min-width: 768px){
        margin: 50px;
        font-size: 20px;
    }
        
}
.navegador{
    margin: auto;
    font-style: italic;
    font-size: 5px;
    
}

.navegador li{
    display: block;
}

.imagen{
    height: 250px;
    width: 250px;
}

li {
    display: inline-block;
    width: 10%;
    position:relative;
    font-size: 15px;
 }
ul ul {
    position: absolute;
    display: none;
 }
ul ul li {
    display: block;
 }
ul li:hover ul {
    display:block;
 }
 
ul li a{
     text-decoration: none;
     font-size: 1rem;
    /* font-family: Georgia, 'Times New Roman', Times, serif;
     color:rgb(8, 2, 2);*/

 }

.footer li{
    display: block;
    
}